{% extends '../base.html' %}
{% block content %}
<style>
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
</style>
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Agregar Empleado</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
            <a href="{% url 'List_Empleoyee' %}" class="btn btn-primary pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Todos los empleados</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Información Básica</h3>
                <form class="form-material form-horizontal" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Nombre</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Nombre del Empleado">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Apellido</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="example-text" name="surname" class="form-control" placeholder="Apellido del Empleado">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="bdate">Fecha de contratación</span>
                        </label>
                        <div class="col-md-12">
                            <input type="date" id="bdate" name="hiring_date" class="form-control mydatepicker" placeholder="enter your birth date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Tipo de Empleado</label>
                        <div class="col-sm-12">
                            <select name="type" class="form-control">
                                <option>Selecione</option>
                                <option>Empleado</option>
                                <option>Administrador</option>
                                <option>Contador</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Dirección</span></label>
                        <div class="col-md-12">
                            <input type="text" id="example-text" name="address" class="form-control" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Tipo de documento</label>
                        <div class="col-sm-12">
                            <select id="ti" class="form-control">
                                <option>Selecione</option>
                                {% for i in ti %}
                                    <option value="{{i.pk}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Número de documentación</span></label>
                        <div class="col-md-12">
                            <input type="number" id="example-text" name="documentIdentification" class="form-control" placeholder="Número de documentación">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Teléfono</span></label>
                        <div class="col-md-12">
                            <input type="number" id="example-text" name="phone" class="form-control" placeholder="Número de documentación">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Tipo de contrato</label>
                        <div class="col-sm-12">
                            <select id="ti" name="type_contract" class="form-control">
                                <option>Selecione</option>
                                {% for i in tc %}
                                    <option value="{{i.pk}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">E-mail</span></label>
                        <div class="col-md-12">
                            <input type="email" id="example-text" name="email" class="form-control" placeholder="Ingrese E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Salario</span></label>
                        <div class="col-md-12">
                            <input type="number" id="example-text" name="salary" class="form-control" placeholder="Ingrese Salario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Cargo</span></label>
                        <div class="col-md-12">
                            <input type="text" id="example-text" name="post" class="form-control" placeholder="Ingrese Usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Usuario</span></label>
                        <div class="col-md-12">
                            <input type="text" id="example-text" name="user" class="form-control" placeholder="Ingrese Usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">Contraseña</span></label>
                        <div class="col-md-12">
                            <input type="pass" id="example-text" name="pwd" class="form-control" placeholder="Ingrese Contraseña">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title">Información Adicional</h3>
                <form id="info_adic" class="form-material form-horizontal" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-12" for="example-email">E-mail</span>
                        </label>
                        <div class="col-md-12">
                            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Ingrese E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-phone">Teléfono</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="example-phone" name="example-phone" class="form-control" placeholder="Ingrese el Teléfono" data-mask="999-999-9999">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="pwd">Password</span>
                        </label>
                        <div class="col-md-12">
                            <input type="password" id="pwd" name="pwd" class="form-control" placeholder="enter your password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="cpwd">Confirm Password</span>
                        </label>
                        <div class="col-md-12">
                            <input type="password" id="cpwd" name="cpwd" class="form-control" placeholder="confirm your password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Registrar</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title">Patient's Social Information</h3>
                <form class="form-material form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12" for="furl">Facebook URL</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="furl" name="furl" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="turl">Twitter URL</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="turl" name="turl" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="gurl">Google Plus URL</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="gurl" name="gurl" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="inurl">LinkedIN URL</span>
                        </label>
                        <div class="col-md-12">
                            <input type="text" id="inurl" name="inurl" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div> -->
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){

    })
</script>
{% endblock %}