{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Todos los empleados</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
            {% if request.session.type_empleoyee == "Administrador" %}
            <a href="{% url 'Add_Empleoyee' %}" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Agregar Empleado</a>
            {% endif %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- .row -->
    <div class="row el-element-overlay">
        <!-- .usercard -->
        {% for i in empleoyee %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="white-box">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"> <img src="{{i.img}}" />
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <!-- <li><a class="btn default btn-outline image-popup-vertical-fit" href="{% static 'plugins/images/users/1.jpg' %}"><i class="icon-magnifier"></i></a></li> -->
                                    <li><a class="btn default btn-outline" href="{% url 'Profile_Empleoyee' i.pk %}"><i class="icon-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h3 class="box-title">{{i.name}}</h3> 
                            <small>{{i.post}}</small>
                            <br/> <small>Edad: 24 años</small> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.usercard-->
        {% endfor %}
    </div>
    <!-- /.row -->
</div>
{% endblock %}