{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo.png' %}">
    <title>Facturación electrónica</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Menu CSS -->
    <link href="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">

    <!-- Dropzone css -->
    <link href="{% static 'plugins/bower_components/dropzone-master/dist/dropzone.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/bower_components/custom-select/custom-select.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/bower_components/switchery/dist/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bower_components/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'plugins/bower_components/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css">

    <!-- morris CSS -->
    <link href="{% static 'plugins/bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!--Owl carousel CSS -->
    <link href="{% static 'plugins/bower_components/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/bower_components/owl.carousel/owl.theme.default.css' %}" rel="stylesheet" type="text/css" />

    <!-- animation CSS -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'css/colors/megna.css' %}" id="theme" rel="stylesheet">
    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
        input[type=number] { -moz-appearance:textfield; }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-19175540-9', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        {% include './menu.html' %}
        <!-- Left navbar-header -->
        {% include './slider.html' %}
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            {% block content %}{% endblock %}
            <!-- /.container-fluid -->
            <footer class="footer text-center"> &copy; <script>document.write(new Date().getFullYear());</script> - Copyright | Developed by <a href="https://evansoft.pythonanywhere.com" target="_blank" style="text-decoration: none;color: black;">Evansoft</a></footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Morris JavaScript -->
    <script src="{% static 'plugins/bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/morrisjs/morris.js' %}"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <!-- jQuery peity -->
    <script src="{% static 'plugins/bower_components/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/peity/jquery.peity.init.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/dashboard1.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/jquery.dataTables.min.js' %}"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable({            
            "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [0, 'desc']
                ],
                "displayLength": 10
        });
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [0, 'desc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;

                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });

            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf', 'print'
        ]
    });
    </script>
    <!--Style Switcher -->

    <script src="{% static 'plugins/bower_components/switchery/dist/switchery.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/custom-select/custom-select.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'plugins/bower_components/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'plugins/bower_components/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function() {
                new Switchery($(this)[0], $(this).data());

            });
            // For select 2

            $(".select2").select2();
            $('.selectpicker').selectpicker();

            //Bootstrap-TouchSpin
            $(".vertical-spin").TouchSpin({
                verticalbuttons: true,
                verticalupclass: 'ti-plus',
                verticaldownclass: 'ti-minus'
            });
            var vspinTrue = $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }

            $("input[name='tch1']").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%'
            });
            $("input[name='tch2']").TouchSpin({
                min: -1000000000,
                max: 1000000000,
                stepinterval: 50,
                maxboostedstep: 10000000,
                prefix: '$'
            });
            $("input[name='tch3']").TouchSpin();

            $("input[name='tch3_22']").TouchSpin({
                initval: 40
            });

            $("input[name='tch5']").TouchSpin({
                prefix: "pre",
                postfix: "post"
            });

            // For multiselect

            $('#pre-selected-options').multiSelect();
            $('#optgroup').multiSelect({
                selectableOptgroup: true
            });

            $('#public-methods').multiSelect();
            $('#select-all').click(function() {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function() {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });
            $('#refresh').on('click', function() {
                $('#public-methods').multiSelect('refresh');
                return false;
            });
            $('#add-option').on('click', function() {
                $('#public-methods').multiSelect('addOption', {
                    value: 42,
                    text: 'test 42',
                    index: 0
                });
                return false;
            });

        });
    </script>
    <script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>

    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- Dropzone Plugin JavaScript -->
    <script src="{% static 'plugins/bower_components/dropzone-master/dist/dropzone.js' %}"></script>
    <!-- jQuery for carousel -->
    <script src="{% static 'plugins/bower_components/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/owl.carousel/owl.custom.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.js' %}"></script>
    <script src="{% static 'js/widget.js' %}"></script>
    <script src="{% static 'js/mask.js' %}"></script>
    <script>
        function sound(mp3) {
            let audioCtx = new (window.AudioContext || window.webkitAudioContext)();
            let xhr = new XMLHttpRequest();
            xhr.open('GET', mp3);
            xhr.responseType = 'arraybuffer';
            xhr.addEventListener('load', () => {
                let playsound = (audioBuffer) => {
                    let source = audioCtx.createBufferSource();
                    source.buffer = audioBuffer;
                    source.connect(audioCtx.destination);
                    source.loop = false;
                    source.start();

                    setTimeout(function () {
                        let t = document.createElement('p');
                        t.appendChild(document.createTextNode((new Date()).toLocaleString() + ': Sound played'));
                        document.querySelector('.output').appendChild(t);
                        playsound(audioBuffer);
                    }, 100000000000000000);
                };

                audioCtx.decodeAudioData(xhr.response).then(playsound);
            });
            xhr.send();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
    {% block script %}{% endblock %}
</body>

</html>
{% endspaceless %}