<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Factura Electronica - {{title}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</title>
  <style>

  </style>
<body style='font-family:Tahoma;font-size:12px;color: #333333;background-color:#FFFFFF;'>
  <table align='center' border='0' cellpadding='0' cellspacing='0' style='height:842px; width:100%;font-size:12px;'>
    <tr>
      <td valign='top'>
        <table width='100%' cellspacing='0' cellpadding='0'>
          <tr style="height:40px;">
            <td valign='bottom' width='50%' height='100'>
              <div align='left'><img src='{{logo}}' height="100%" width="30%"  /></div><br /></td>
            <td width='50%'>&nbsp;</td>
          </tr>
        </table>Cobrar a: <br/><br/>
        <table width='100%' cellspacing='0' cellpadding='0'>
          <tr style="height: 30px;">
            <td valign='top' width='35%' style='font-size:12px;'>Razon Social:&nbsp;{{name_client}}<br />Email:&nbsp;{{email_client}}<br />Direccion:&nbsp;{{address_client}} <br/>Tlf:&nbsp;{{phone_client}}<br>
            </td>
            <td valign='top' width='35%'>
            </td>
            <td valign='top' width='30%' style='font-size:12px;'>Fecha de Generacion: {{date}}<br/> Fecha de Vencimiento: {{duration_measure}} <br/> Forma de Pago: {{payment_form}} <br/>Días de plazo:&nbsp;{{days_measure}}<br>
            </td>
          </tr>
        </table>
        <table width='100%' cellspacing='0' cellpadding='0' style="top: 10px;">
          <tr style="height: 10px;">
            
          </tr>
        </table>
        <table width='100%' cellspacing='0' cellpadding='0' style="top: 10px;">
          <tr style="height: 20px;">
            {% if type_invoice != "Factura POS" %}
            <td valign='top' width='35%' style='font-size:12px;'>Cufe:<small>&nbsp;<a href="https://www.google.com" style="text-decoration: none;color: black;">{{cufe}}</a></small>
            </td>
            {% endif %}
            <td valign='top' width='35%'>
            </td>
            <td valign='top' width='30%' style='font-size:12px;'>
            </td>
          </tr>
        </table>
        <table width='100%' height='40' cellspacing='0' cellpadding='0'>
          <tr>
            <td>
              <div align='center' style='font-size: 14px;font-weight: bold;'>{{type_invoice}}&nbsp; # {{consecutive}} </div>
            </td>
          </tr>
        </table>
        <table width='100%' cellspacing='0' cellpadding='2' border='1' bordercolor='#CCCCCC'>
          <tr>
            <td width='35%' bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Descripcion </strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Cant.</strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Precio Unit.</strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>IVA</strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Valor IVA</strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>ICO</strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Descuento</strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Total IVA</strong></td>
            <td bordercolor='#ccc' bgcolor='#f2f2f2' style='font-size:12px;'><strong>Subtotal Base</strong></td>
          </tr>
          <tr style="display:none;">
            <td colspan="*">
              {% for i in data %}
                <tr>
                  <td valign='top' style='font-size:12px;'>{{i.name}}</td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.quanty}} </td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.price}}</td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.tax}}</td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.tax_value}}</td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.ico}}</td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.discount}}</td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.totals_tax}}</td>
                  <td valign='top' style='font-size:12px;text-align: right;'>{{i.totals}}</td>
                </tr>
              {% endfor %}
            </td>
          </tr>
        </table>
        <table width='100%' cellspacing='0' cellpadding='2' border='0'>
          <tr>
            <td style='font-size:12px;width:50%;'><strong>{{total_letters}}&nbsp;PESOS</strong></td>
            <td>
              <table width='100%' cellspacing='0' cellpadding='2' border='0'>
                <tr>
                  <td align='right' style='font-size:12px;'>Subtotal</td>
                  <td align='right' style='font-size:12px;'>${{subtotal_invoice}}
                    <td>
                </tr>
                {% if tax_19 %}
                  <tr>
                    <td align='right' style='font-size:12px;'>IVA(19%)</td>
                    <td align='right' style='font-size:12px;'>${{tax_19}}</td>
                  </tr>
                {% endif %}
                {% if tax_5 %}
                  <tr>
                    <td align='right' style='font-size:12px;'>IVA(5%)</td>
                    <td align='right' style='font-size:12px;'>${{tax_5}}</td>
                  </tr>
                {% endif %}
                {% if tax_0 %}
                  <tr>
                    <td align='right' style='font-size:12px;'>IVA(0%)</td>
                    <td align='right' style='font-size:12px;'>${{tax_0}}</td>
                  </tr>
                {% endif %}
                <tr>
                  <td align='right' style='font-size:12px;'>ICO</td>
                  <td align='right' style='font-size:12px;'>${{ico}}</td>
                </tr>
                <tr>
                  <td align='right' style='font-size:12px;'><b>Total</b></td>
                  <td align='right' style='font-size:12px;'><b>${{total_invoice}}</b></td>
                </tr>
              </table>
              </td>
          </tr>
        </table>

        <table width='100%' height='10'>
          <tr>
            <td style='font-size:12px;text-align:justify;'></td>
          </tr>
        </table>
        <table width='100%' cellspacing='0' cellpadding='2'>
          <tr>
            <td width='33%' style='font-size:12px;' valign='top'><b>Observacion:</b><br/>
              {{note}}
            </td>
          </tr>
        </table>

        <table width='100%' height='50'>
          <tr>
            <td style='font-size:12px;text-align:justify;'></td>
          </tr>
        </table>
        <table width='100%' cellspacing='0' cellpadding='2'>
          <tr>
            <td width='33%' style='border-top:double medium #CCCCCC;font-size:12px;' valign='top'><b>{{name_company}}</b><br/>


            </td>
            <td width='33%' style='border-top:double medium #CCCCCC; font-size:12px;' align='center' valign='top'>
              {{address_company}}<br /> {{email_company}} <br/> Phone: {{phone_company}}<br/>
            </td>

            <td valign='top' width='34%' style='border-top:double medium #CCCCCC;font-size:12px;' align='right'>Resolucion: 18764029034265<br/> {{type_organization}} <br/> <!-- [payment details] <br/> [payment details] <br/> -->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>