{% load static %}
<link href="{% static 'plugins/bower_components/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css">
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
                    <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                    </span> </div>
                <!-- /input-group -->
            </li>
            <li class="user-pro">
                <a href="#" class="waves-effect"><img src="{{request.session.logo_Company}}" alt="user-img" class="img-circle"> <span class="hide-menu">{{request.session.name_company|truncatechars:12}}<span class="fa arrow"></span></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="{% url 'Profile_Empleoyee' request.session.empleoyee_pk %}"><i class="ti-user"></i> Mi Perfil</a></li>
                    <!-- <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li> -->
                    <!-- <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li> -->
                    <li><a href="{% url 'LogOut' %}"><i class="fa fa-power-off"></i> Salir</a></li>
                </ul>
            </li>
            {% if request.session.type_empleoyee != "Contador" %}
                <li class="nav-small-cap m-t-10">--- Menú principal</li>
                <li> <a href="{% url 'Index' %}" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Tablero</span></a> </li>
                <li> 
                    <a href="#" class="waves-effect"><i data-icon="&#xe009;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Crear<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{% url 'Create_Invoice' %}">Fact. Electronica</a> </li>
                        <li> <a href="{% url 'Create_POS' %}">Fact. Pos</a> </li>
                        <li> <a href="javascript:void(0);">Documento Soporte</a></li>
                    </ul>
                </li>
                <li> 
                    <a href="#" class="waves-effect"><i data-icon="&#xe007;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Doc. Generados<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{% url 'List_Invoice' %}">Fact. Electronica</a> </li>
                        <li> <a href="{% url 'List_Invoice_POS' %}">Fact. Pos</a> </li>
                        <li> <a href="javascript:void(0);">Nomina Electronica</a> </li>
                        <li><a href="{% url 'List_Credit_Note' %}">Nota Crédito Electrónica</a></li>
                        <li><a href="{% url 'List_Credit_Note_POS' %}">Nota Crédito POS</a></li>
                        <li> <a href="javascript:void(0);">Documento Soporte</a></li>
                    </ul>
                </li>

                {% if request.session.type_empleoyee == "Administrador" %}
                    <li> <a href="{% url 'List_Empleoyee' %}" class="waves-effect"><i class="icon-people"></i> &nbsp; <span class="hide-menu">Empleados</span></a> </li>
                    <li> <a href="{% url 'Shopping' %}" class="waves-effect"><i class="icon-briefcase"></i> &nbsp; <span class="hide-menu">Compras</span></a> </li>
                    <li> <a href="{% url 'List_Inventory' %}" class="waves-effect"><i class="icon-briefcase"></i> &nbsp; <span class="hide-menu">Inventario</span></a> </li>
                {% endif %}
                
                <li> <a href="{% url 'List_Client' %}" class="waves-effect"><i class="icon-people"></i> &nbsp; <span class="hide-menu">Clientes</span></a> </li>
                {% if request.session.type_empleoyee == "Administrador" %}
                    <li> 
                        <a href="#" class="waves-effect"><i class="fa fa-credit-card"></i> &nbsp;<span class="hide-menu">Cartera<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'Bill_To_Pay' %}">Cuenta por Pagar</a> </li>
                            <li> <a href="{% url 'CXP_General' %}">Reporte Cuenta por Pagar</a> </li>
                            <li> <a href="{% url 'Wallet_Elec' %}">Fact. Electronica</a> </li>
                            <li> <a href="{% url 'Wallet_Elec_POS' %}">Fact. Pos</a> </li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            {% if request.session.type_empleoyee == "Administrador" or request.session.type_empleoyee == "Contador" %}
                <li> 
                    <a href="#" class="waves-effect"><i data-icon="&#xe007;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Nomina Electrónica<span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a href="{% url 'Update_Payroll_Document' %}">Cargar Nomina</a> </li>
                        <li> <a href="{% url 'Recovery_Payroll' %}">Recuperar Nóminas</a></li>
                    </ul>
                </li>
            {% endif %}
            <li> 
                <a href="#" class="waves-effect"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Reportes<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="javascript:void(0)" class="waves-effect">Facturación ELectrónica.
                        <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li> <a href="{% url 'Close_The_Box' %}">Cierre de Caja</a></li>
                            <li> <a href="{% url 'Invoices' %}">Por Facturas</a></li>
                            <li> <a href="{% url 'Report_Wallet_Elec' %}">Cartera</a></li>
                        </ul>
                    </li>

                    <li><a href="javascript:void(0)" class="waves-effect">Facturación POS.
                        <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li> <a href="{% url 'Close_The_Box_POS' %}">Cierre de Caja</a></li>
                            <li> <a href="javascript:void(0);">Por Facturas</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" class="waves-effect">Generales.
                        <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li> <a href="{% url 'Report_General_FE' %}">Facturación Electrónica</a></li>
                            <li> <a href="{% url 'Report_General_POS' %}">Facturación POS</a></li>
                            <li> <a href="{% url 'Report_Wallet_Elec' %}">Inventario</a></li>
                        </ul>
                    </li>
                    {% if request.session.type_empleoyee == "Administrador" %}
                        <li>
                            <a href="javascript:void(0)" class="waves-effect">Reportes Inventario.
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li> <a href="{% url 'Report_Inventory' %}">Inventario</a></li>
                                <li> <a href="{% url 'Record_Inventory' %}">Movimiento</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" id="online_shop" class="waves-effect">
                    <i class="fa fa-shopping-bag"></i> &nbsp; 
                    <span class="hide-menu">Tienda Virtual</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-4 col-xs-12" hidden>
    <div class="white-box">
        <img src="" alt="alert" class="img-responsive online_shop_" id="online_shop_"> 
    </div>
</div>
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#online_shop").click(function(){
            $("#online_shop_").click()
        })    
    })
    
</script>



