{% extends '../base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-8 col-md-4 col-12">
            <h4 class="page-title">Inventario&nbsp;&nbsp;&nbsp;
                <small>Margen de Utilidad: <span id="utility">0%</span></small>&nbsp;&nbsp;&nbsp;
                <small>Ganancia X Producto: <span id="win">$0</span></small>&nbsp;&nbsp;&nbsp;
                <small>Ganancia Total: <span id="win_totals">$0</span></small>
            </h4> 
        </div>
        <div class="col-lg-4 col-md-8 col-12"> 
            <a href="{% url 'List_Inventory' %}" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline waves-effect waves-light">Listado de Inventario</a>
            <!-- button href="{% url 'List_Inventory' %}" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Agregar Categoria</button> -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Agregar Inventario</h3>
                <form class="form-material form-horizontal" id="form" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="col-md-12" for="example-text">Código</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="code" name="code" placeholder="Código del producto o articulo" autofocus class="form-control code">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-md-12" for="paydate">Descripción</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="description" name="name" placeholder="Nombre del producto o articulo" class="form-control mydatepicker">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="col-md-12" for="example-text">Precio de venta</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="price" name="price" placeholder="Precio de venta del producto o articulo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-md-12" for="paydate">IVA</span>
                            </label>
                            <div class="col-md-12">
                                <select id="tax" name="tax" class="form-control">
                                    <option>0</option>
                                    <option>5</option>
                                    <option>19</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="col-md-12" for="example-text">Costo del producto</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="cost" name="cost" disabled placeholder="Costo del producto o articulo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-md-12" for="example-text">Cantidad Inicial</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="quanty" name="quanty" placeholder="Código del producto o articulo" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="col-md-12" for="example-text">Descuento</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="discount" name="discount" value="0" placeholder="Descuento del producto o articulo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-md-12" for="example-text">Impuesto al Consumo</span>
                            </label>
                            <div class="col-md-12">
                                <input type="text" id="ico" name="ico" placeholder="Impuesto al consumo del producto o articulo" value="0" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="col-sm-12">Categoria</label>
                            <div class="col-sm-12">
                                <select name="category" id="category" class="form-control">
                                    <option>Seleccione</option>
                                    {% for i in c %}
                                        <option>{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-sm-12">Subcategoria</label>
                            <div class="col-sm-12">
                                <select name="subcategory" id="subcategory" class="form-control">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="col-sm-12">Proveedor</label>
                            <div class="col-sm-12">
                                <select name="supplier" id="category" class="form-control">
                                    {% for i in supplier %}
                                        <option>{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10 save">Agregar</button>
                    <button type="reset" class="btn btn-inverse waves-effect waves-light re">Limpiar Campos</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel1">New message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nombre de la categoria</label>
                        <input type="text" class="form-control name_cat" id="recipient-name1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary send_cat">Agregar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-xs-12" hidden>
    <div class="white-box">
        <img src="" alt="alert" class="img-responsive model_img" id="add_success"> 
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){

        $(".send_cat").click(function(){
            let name = $(".name_cat").val()
            $.ajax({
                url:'{% url "Add_Category" %}',
                data:{'name':name},
                success:function(data){
                    $(".close").click()
                    $("#category").append(`
                        <option>${name}</option>
                    `)
                    $(".name_cat").val("")
                }
            })
        })

        $("#description").keypress(function(e){
            var keycode = e.keyCode || e.which;
            if (keycode == 13) {
                $("#code").focus()
            }
        })

        $("#category").change(function(){
            $("#subcategory").empty()
            let name = $("#"+this.id).val()
            if(name == "Seleccione"){
                $("#subcategory").append(`
                    <option>${name}</option>
                `)
            }
            else{
                $.ajax({
                    url:'{% url "GetSubCategories" %}',
                    data:{'pk':$("#category").val()},
                    success:function(data){
                        console.log(data.length);
                        $("#subcategory").append(`
                            <optgroup label="${name}" id="pather_subcat">
                            </optgroup>
                        `)
                        if(data.length > 2){
                            var _data = JSON.parse(data)
                            for (var i = 0; i < _data.length; i++) {
                                console.log(_data[i])
                                $("#pather_subcat").append(`
                                    <option value="${_data[i]['pk']}">${_data[i]['name']}</option>
                                `)
                            }
                        }
                        else{
                            console.log("Hola")
                            $("#subcategory").append(`
                                <option>No hay valores</option>
                            `)
                        }
                    }
                });
            }
        })

        $(".save").click(function(e){
            e.preventDefault()
            if($("#description").val() != ""){
                $.ajax({
                    data:$("#form").serialize(),
                    success:function(data){
                        console.log(data);
                        $("#add_success").click()
                        $(".re").click()
                    }
                })
            }
        })

        function CaltulateCost(quanty){
            if($("#price").val() != ""){
                var price = parseFloat($("#price").val())
                var value_tax = 1 + (parseFloat($("#tax").val()) / 100)
                var cost = price / value_tax
                $("#cost").val(cost.toFixed(2))
                var utilidad = price - cost
                var margen_utilidad = (utilidad / price).toFixed(2)
                $("#utility").text(margen_utilidad+'%')
                var win = (price - cost).toFixed(2)
                $("#win").text('$'+win)
                var win_total = (win * quanty).toFixed(2)
                $("#win_totals").text('$'+win_total)
            }
        }

        $("#price").keyup(function(){
            var value = 0
            if($("#quanty").val() != ""){
                value = $("#quanty").val()
            }
            CaltulateCost(value)
        })
        $("#tax").change(function(){
            var value = 0
            if($("#quanty").val() != ""){
                value = $("#quanty").val()
            }
            CaltulateCost(value)
        })

        $("#quanty").keyup(function(){
            var value = 0
            if($("#quanty").val() != ""){
                value = $("#quanty").val()
            }
            CaltulateCost(value)  
        })
    })
</script>
{% endblock %}