{% extends '../base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Nómina Enviadas</h3>
            <p class="text-muted m-b-30"></p>
            <div class="table-responsive">
                <table id="example23" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Numero</th>
                            <th class="text-center">Mes</th>
                            <th class="text-center">Año</th>
                            <th class="text-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for p in pd %}
	                        <tr>
	                            <td class="text-center">{{p.number}}</td>
	                            <td class="text-center">{{p.month}}</td>
                                <td class="text-center">{{p.anio}}</td>
                                <td class="text-center">
                                    <a href="{% url 'Send_Payroll' %}" class="btn btn-primary">Recuperar</a>
                                </td>
	                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}