{% extends '../base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Facturación POS</h3>
            <!-- <p class="text-muted m-b-30">Data table example</p> -->
            <div class="table-responsive">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th>Total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="pather">
                    	{% for i in invoice %}
	                        <tr>
	                            <td>{{i.number}}</td>
	                            <td>{{i.date}}</td>
	                            <td>{{i.client}}</td>
                                <td>{{i.client}}</td>
                                <td>{{i.state}}</td>
	                            <td>${{i.totals}}</td>
	                            <td>
                                    {% if i.state == 'Se aplico nota crédito' %}
                                        <a class="btn btn-primary text-white" title="Imprimir" href="javascript:void(0);" onclick="print_invoice_pos('{{i.number}}');">
                                            <i class="fa fa-print"></i>
                                        </a>
                                        <a style="margin-left: 10px;" class="btn btn-success text-white" href="{% url 'Electronic_Invoice_Docment_POS' i.pk %}"> 
                                            VER
                                        </a>
                                        <a style="margin-left: 10px;" class="btn btn-success text-white" href="{% url 'GetPDF_POS' i.pk %}" target="_blank"> 
                                            PDF
                                        </a>
                                    {% else %}
                                        <a class="btn btn-primary text-white" title="Imprimir" href="javascript:void(0);" onclick="print_invoice_pos('{{i.number}}');">
                                            <i class="fa fa-print"></i>
                                        </a>
                                        <a style="margin-left: 10px;" class="btn btn-info text-white" id="{{i.pk}}" onclick="credit_note('{{i.pk}}');$('#'+this.id).css('display','none');"> 
                                            NC
                                        </a>
                                        <a style="margin-left: 10px;" class="btn btn-success text-white" href="{% url 'GetPDF_POS' i.pk %}" target="_blank"> 
                                            PDF
                                        </a>
                                        <a style="margin-left: 10px;" class="btn btn-success text-white" href="{% url 'Electronic_Invoice_Docment_POS' i.pk %}"> 
                                            VER
                                        </a>
                                        {% if i.client != "CLIENTE GENERAL" %}
                                            <a style="margin-left: 10px;" class="btn btn-warning text-white" href="{% url 'Electronic_Invoice_Docment_POS' i.pk %}"> 
                                                E-mail
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
	                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- credit_note('{{i.pk}}') -->
{% endblock %}
{% block script %}
<script>
    function print_invoice_pos(pk){
        window.open('{% url "Print_Invoice" %}','Factura POS','width=auto,height=auto,scrollbars=NO');
    }
    function credit_note(pk){
        $.ajax({
            url:'{% url "Credit_Notes" %}',
            data:{'pk':pk},
            complete : function(xhr, status) {
                var regex = /(\d+)/g;
                var filas = $("#pather").find("tr");
                var resultado = "";
                for(i=0; i<filas.length; i++){
                    var celdas = $(filas[i]).find("td");
                    if($(celdas[0]).text().match(regex)[0] == pk){
                        $(celdas[2]).text("Se aplico nota crédito");
                    }
                }
            }
        });    
    }
    

</script>
{% endblock %}