{% extends '../base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">CARTERA FACTURA ELECTRONICA</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <p class="text-muted m-b-30">Exportar datos a Copia, CSV, Excel, PDF e Imprimir </p>
                <div class="table-responsive">
                    <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Factura</th>
                                <th style="text-align: center;">Cliente</th>
                                <th style="text-align: center;">Fecha Vencimiento</th>
                                <th style="text-align: center;">Monto</th>
                                <th style="text-align: center;">Días de Mora</th>
                                <th style="text-align: center;">Estado</th>
                                <th style="text-align: center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                                <tr>
                                    <td class="numero">{{i.code}}</td>
                                    <td style="text-align: left;">{{i.client}}</td>
                                    <td style="text-align: center;">{{i.date}}</td>
                                    <td style="text-align: right;">{{i.price}}</td>
                                    <td style="text-align: right;">{{i.mora}}</td>
                                    <td style="text-align: center;">
                                        {% if i.state == "Se aplico nota crédito" %}
                                            La factura fue anulada
                                        {% elif i.state == "Procesado Correctamente." %}
                                            Esperando cancelación
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'Electronic_Invoice_Docment_Wallet' i.code %}" class="btn btn-warning" style="margin-right: 10px;">Ver</a>
                                        {% if i.state == "Procesado Correctamente." %}
                                            <a id="{{i.pk}}" type="button" href="javascript:void(0);" class="btn btn-danger">Pagar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box col-3 ml-auto">
                <div class="table-responsive">
                    <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td><h4>Total:</h4></td>
                                <td style="text-align:right;"><h4><span class="total">{{total}}</span></h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}
{% block script %}

    <script>
        $('a[type="button"]').click(function(){
            $.ajax({
                data:{'number':this.id},
                success:function(data){
                    console.log(data)
                    $(".total").text(data)
                }
            })
            $(this).closest('tr').remove();
        })
        $("input[type='search'").keypress(function(){
            var valores = "";
            $(this).parents("tr").find(".numero").each(function() {
              valores += $(this).html() + "\n";
            });
            console.log(valores);
            alert(valores);

        })
    </script>

{% endblock %}