{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">CARTERA FACTURA POS</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <p class="text-muted m-b-30">Exportar datos a Copia, CSV, Excel, PDF e Imprimir </p>
                <div class="table-responsive">
                    <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Factura</th>
                                <th>Cliente</th>
                                <th>Fecha Vencimiento</th>
                                <th>Monto</th>
                                <th>Días de Mora</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                                <tr id="b2">
                                    <td class="numero">{{i.code}}</td>
                                    <td>{{i.client}}</td>
                                    <td>{{i.date}}</td>
                                    <td style="text-align: center;">{{i.price}}</td>
                                    <td style="text-align: center;">{{i.mora}}</td>
                                    <td>
                                        <a href="{% url 'Electronic_Invoice_Docment_POS' i.code %}" class="btn btn-warning" style="margin-right: 10px;">Ver</a>
                                        <a id="{{i.pk}}" type="button" href="javascript:void(0);" class="btn btn-danger">Pagar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box col-3 ml-auto">
                <div class="table-responsive">
                    <table id="example2" class="display nowrap" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td><h4>Total:</h4></td>
                                <td style="text-align:right;"><h4><span class="total">{{total}}</span></h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'jquery.tabletojson.min.js' %}"></script>

    <script>
        $('a[type="button"]').click(function(){
            $.ajax({
                data:{'number':this.id},
                success:function(data){
                    console.log(data)
                    $(".total").text(data)
                }
            })
            $(this).closest('tr').remove();
        })
        var key;
        $("input[type='search'").keyup(function(e){
            var value = $("#buscar_dato").val()
            var data = JSON.parse(JSON.stringify($('#example23').tableToJSON()))
            var total = 0
            if(data[0]['Factura'] == "No se encontraron registros coincidentes"){
                total = 0
            }
            else{
                for(var i = 0; i < data.length;i++){
                    console.log(data[i])
                    if(data[i]['Factura'] == value){
                        total += parseFloat(data[i]['Monto'])
                    }
                    else{
                        total += parseFloat(data[i]['Monto'])
                    }
                }
            }
            $(".total").text(total)
        })
    </script>

{% endblock %}